

<div id="barra-lateral">
    <div>
    </div>
    <div id="barra-lateral__informacoes">
        <span id="lateral-icone-usuario"></span>

        <div id="barra-lateral__identidade">
            <span>
                @if (User.IsInRole("PACIENTE"))
                {
                    @User.Identity.Name
                }
                else if(User.IsInRole("SECRETARIA"))
                {
                    @Html.Raw("SECRETARIA")
                }
                else
                {
                    @Html.Raw("ADMINISTRADOR")
                }
            </span>
            <span>
                @if (User.IsInRole("PACIENTE"))
                {
                    @Html.Raw("Paciente")
                }
                else
                {
                    @Html.Raw("Funcionário")
                }
            </span>
        </div>
        <ul>
            @if (!User.IsInRole("ADMIN"))
            {
                <li><a asp-controller="Atendimento" asp-action="Create" class="sidebar-mobile-only">Fazer agendamento</a></li>
                <li><a asp-controller="Atendimento" asp-action="Index" class="sidebar-mobile-only">Ver agendamentos</a></li>
                <li><a asp-controller="Atendimento" asp-action="Index" asp-route-status="true" class="sidebar-mobile-only">Agendamentos concluídos</a></li>
            }

            @if (User.IsInRole("PACIENTE"))
            {
                <li class="odonto-botao-secundario">Editar Perfil</li>
            }

            @if (User.IsInRole("SECRETARIA"))
            {
                <li><a asp-controller="Paciente" asp-action="Index">Usuários</a></li>
            }
            
            @if (!User.IsInRole("PACIENTE"))
            {
                <li><a href="#" id="opcao-alterar-senha">Alterar Senha</a></li>
            }

            <li><a asp-controller="@(User.IsInRole("PACIENTE") ? "Paciente" : "Funcionario")" asp-action="Logout">Sair</a></li>
        </ul>
    </div>
</div>
