@model OdontoSchedule.Models.Atendimento

@{
    ViewData["Title"] = "Edit";
}

<h1>Details</h1>

<h4>Atendimento</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" method="post">
            <input type="hidden" asp-for="ID" />
            <input type="hidden" asp-for="AgendaId" id="atendimento-agenda-id" />
            <input type="hidden" asp-for="DentistaId" id="atendimento-dentista-id" />

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div>
                <label>
                    <input asp-for="TemConvenio" disabled /> @Html.DisplayNameFor(model => model.TemConvenio)
                </label>
            </div>
            <div class="form-group">
                <label></label>
                <span>@Html.DisplayFor(model => model.Dentista.Nome)</span>
            </div>
            <div class="form-group">
                <label asp-for="AgendaId"></label>

                @if(Model.Finalizado)
                {
                    <label>@Html.DisplayFor(model => model.Agenda.Data) @Html.DisplayFor(model => model.Agenda.Horario.Hora)</label>
                }
                else
                {
                    <input type="text" value="@Html.DisplayFor(model => model.Agenda.Data) @Html.DisplayFor(model => model.Agenda.Horario.Hora)" id="atendimento-data-hora" class="odonto-input" disabled />
                }
            </div>
            <div class="form-group">
                <label asp-for="PacienteId"></label>
                <span>@Html.DisplayFor(model => model.Paciente.Nome)</span>
            </div>
            <div class="form-group form-check">
                @if (User.IsInRole("SECRETARIA"))
                {
                    <label class="form-check-label">
                        <input asp-for="Finalizado" /> @Html.DisplayNameFor(model => model.Finalizado)
                    </label>
                }
                else
                {
                    <label asp-for="Finalizado"></label>
                    <span>@Html.DisplayFor(model => model.Finalizado)</span>
                }
            </div>
            <div class="form-group">
                @if (User.IsInRole("SECRETARIA"))
                {
                    <label asp-for="Observacoes"></label>
                    <input asp-for="Observacoes"  class="odonto-input" />
                }
                else
                {
                    <label asp-for="Observacoes"></label>
                    <span>@Html.DisplayFor((model) => model.Observacoes)</span>
                }
            </div>

            <div>
                @if(!Model.Finalizado)
                {
                    <button type="button" asp-action="Delete" class="odonto-botao-primario maior">Cancelar</button>
                    <button type="button" id="botao-reagendar-atendimento" class="odonto-botao-primario maior">Reagendar</button>
                }

                <button type="submit" class="odonto-botao-primario maior">Salvar</button>
            </div>
        </form>
    </div>

    <div class="popup">
        <div class="popup__content">
            <a class="popup__close">assdads</a>
            <div class="agenda-semanas">
                <template id="agenda-template">
                    <div class="agenda">
                        <div class="coluna coluna-domingo">
                            <div class="dia">Domingo</div>
                        </div>
                        <div class="coluna coluna-segunda">
                            <div class="dia">Segunda</div>
                        </div>
                        <div class="coluna coluna-terca">
                            <div class="dia">Terça</div>
                        </div>
                        <div class="coluna coluna-quarta">
                            <div class="dia">Quarta</div>
                        </div>
                        <div class="coluna coluna-quinta">
                            <div class="dia">Quinta</div>
                        </div>
                        <div class="coluna coluna-sexta">
                            <div class="dia">Sexta</div>
                        </div>
                        <div class="coluna coluna-sabado">
                            <div class="dia">Sabado</div>
                        </div>
                    </div>
                </template>

                <div class="agenda-semanas-lista">
                </div>

                <div>
                    <a class="agenda-semanas__controlador-proximo">
                        <
                    </a>
                    <a class="agenda-semanas__controlador-proximo">
                        >
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        <script src="~/js/AgendaComponente.js"></script>
        ;
        <script src="~/js/elements.js"></script>;
        <script src="~/js/secretaria_atendimento.js"></script>
    }
}